
.outer{
    display: flex;
}
.inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100px;
}
.piechartbackground{
    margin-top: 25vh;
}

.Tlabel{
    text-align: center;
}

.TlabelA{
    color:#00b5ad;
    font-size: 1.2rem;
    font-weight: 900;
}

@media only screen and (max-width: 1200px){
    .piechartbackground{
        margin-top: 25vh;
    }
}
@media only screen and (max-width: 600px){
    .piechartbackground{
        margin-top: 0;
    }
}
@media only screen and (max-width: 425px){

    .piechartbackground{
        margin-top: 0;
    }
	
}